div.intro-body div.backdrop {
    background-color: rgba(0,0,0,0.7);
    border-radius: 40px;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.download-section {
    min-height: 300px;
}

div.download-section p {
    color: #000;
}
