div.intro-body div.backdrop,
div.download-section div.backdrop
{
    background-color: rgba(0,0,0,0.7);
    border-radius: 20px;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.download-section {
    min-height: 300px;
}
